<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ice Cream Eater</title>
        <meta charset="UTF-8">
         <script type="text/javascript" src="js/phaser.min.js"></script>
         <script type="text/javascript" src="game.js"></script>
    <body>
        {{{ body }}}
    </body>
</HTML>