<script type="text/javascript" src="js/phaser.min.js"></script>
<script type="text/javascript" src="js/game.js"></script>

<div class="container"></div>


    <div class="container">

        <div class="row">

            <div class="col-xs-12 text-center enter_section">

                <form action="/create" method="POST">

                    <div class="col-xs-2">

                        <p>Type in your name to submit your score!</p>

                    </div>

                    <div class="col-xs-2">

                        <input type="text" class="form-control" name="name" value="" id="enter_text">

                    </div>

                    <div class="col-xs-2">
                    <a href="/leader"><button>Go to Leaderboard!</button></a>

                     </div>

                    <br>

                </form>

        </div>
    </div>
</div>