<script type="text/javascript" src="js/phaser.min.js"></script>
<script type="text/javascript" src="js/game.js"></script>

<div class="container"></div>

<div>
    <a href="/leader"><button>Go to Leaderboard!</button></a>
</div>