<body background="public/images/background_1.png">
<br>
<div class="container">
  <div class="panel-heading"><font size= "6" color="white"><center><b>Game Over!</b></center></font></div>
 
<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
        <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <input type="text" placeholder="Insert Your Name" class="form-control" id="inputName">
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
<br>
    <div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading"><font size= "6"><center><b>Top Scores:</b></center></font></div>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Position</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table> 
	</div>

</div>

</body>